.page2{
    visibility: hidden;
    transition: .5s;
    z-index: 1;
    width: 150px;
    padding: 30px;
    font-size: 18px;
}
.page:hover .page2 {
visibility: visible;
transition: .5s;
background-color: rgb(198, 125, 23);


}